.app-form{
    width: 50%;
}
.input-list{
    list-style: none;
}
.input-field{
    width: 400px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 15px;
}
#submit-button{
    right: 0;
    min-width: 210px;
    height: 25px;
    border-radius: 3px;
    border: none;
    background-color: rgba(67, 67, 67, 0.53);
    color: white;
    cursor: pointer;
    transition: 0.1s all;
    margin-top: 20px;
    padding: 0 25px;
}
#submit-button:hover{
    background-color: rgba(27, 27, 27, 0.53);
}
#submit-button:active{
    background-color: rgba(169, 182, 113, 0.53);
}